.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-link {
  color: #09d3ac;
}

.container-bar {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffffff;
}

.navbar-home {
  padding-bottom: .25rem!important;
  padding-top: .25rem!important;
  position: sticky;
  top: 0;
  background-color: #222 !important;
  z-index: 1020;
  color: #9BC53D;
  box-sizing: border-box;
}
